@-webkit-keyframes animate-rotate {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes animate-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes bounce {
  0%,
  10%,
  20%,
  100% {
    -webkit-transform: translateY(0);
  }
  5% {
    -webkit-transform: translateY(-30px);
  }
  15% {
    -webkit-transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%,
  10%,
  20%,
  100% {
    -webkit-transform: translateY(0);
  }
  5% {
    -webkit-transform: translateY(-30px);
  }
  15% {
    -webkit-transform: translateY(-15px);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(89, 89, 89, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 15px rgba(48, 48, 48, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(89, 89, 89, 0.4);
    box-shadow: 0 0 0 0 rgba(89, 89, 89, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 15px rgba(48, 48, 48, 0);
    box-shadow: 0 0 0 15px rgba(48, 48, 48, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);
  }
}

@-webkit-keyframes sparkling-animation {
  0% {
    -webkit-opacity: 1;
  }

  25% {
    -webkit-opacity: 0.8;
  }

  50% {
    -webkit-opacity: 1;
  }

  100% {
    -webkit-opacity: 1;
  }
}

@keyframes sparkling-animation {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0.8;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.rotateAnimation {
  -webkit-animation-name: animate-rotate;
  animation-name: animate-rotate;

  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.bounceAnimation {
  -webkit-animation-name: bounce;
  animation-name: bounce;

  -webkit-animation-duration: 5s;
  animation-duration: 5s;

  -webkit-animation-delay: 2s;
  animation-delay: 2s;

  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.pulseAnimation {
  -webkit-animation-name: pulse;
  animation-name: pulse;

  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;

  -webkit-animation-iteration-count: 2;
  animation-iteration-count: 2;
}

.sparklingAnimation {
  -webkit-animation-name: sparkling-animation;
  animation-name: sparkling-animation;

  -webkit-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
