body {
  font-size: 0.875em;
  font-family: var(--font-source-sans-3);
  font-weight: var(--fw-reguler);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-source-sans-3);
}

h1,
h2,
h3,
h4 {
  line-height: var(--lh-heading);
}

h5,
h6,
p,
span,
input,
textarea,
button,
label,
a {
  line-height: var(--lh-paragraph);
}

input,
button,
textarea,
select {
  font-family: var(--font-source-sans-3);
}

@media (hover: hover) {
  /* when supported */
}

/* ================================================ */
/* Tablet Responsive */
@media only screen and (min-width: 768px) {
  body {
    font-size: 1em;
  }
}

/* ================================================ */
/* Desktop Responsive */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 1.125em;
  }
}
