.ratioBadge {
  display: block;
  position: absolute;

  font-size: var(--fs-sm);
  font-weight: var(--fw-medium);

  top: 1em;
  left: 1em;

  padding: 0.4em 1em;

  border-radius: 8px;

  background-color: var(--danger-color);
  box-shadow: var(--shadow-bottom);
}

@media (hover: hover) {
  /* when supported */
}

/* ================================================ */
/* Tablet Responsive */

@media only screen and (min-width: 768px) {
  .ratioBadge {
    font-size: var(--fs-xs);
  }
}

/* ================================================ */
/* Desktop Responsive */

@media only screen and (min-width: 1024px) {
}
