.colorList {
  margin: 7em auto;
  padding: 1em 0;
}

.heading {
  text-align: center;

  font-size: var(--fs-xl);
  font-weight: var(--fw-bold);

  color: var(--text-focal-color);

  margin-bottom: 1em;
}

.paragraph {
  text-wrap: balance;
  text-align: center;
}

.colorContainer {
  margin: 0 auto;
  margin-top: 4em;

  width: 100%;
  max-width: 980px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  gap: 1em;
}

.colorGroup {
  padding: 0.5em;

  aspect-ratio: 1 / 1;

  background: var(--surface-color);
  box-shadow: var(--shadow-bottom);

  border-radius: 1em;
}

.colorGroupButton {
  width: 100%;
  height: 100%;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 0.5em;

  overflow: hidden;

  cursor: pointer;
}

.colorGroupButton:focus-visible {
  outline: 2px solid black;
  outline-offset: 4px;
}

.colorGroupButtonLabel {
  padding: 0.5em;

  font-weight: var(--fw-black);
  font-size: var(--fs-md);

  white-space: nowrap;

  text-align: center;

  transform: rotate(-30deg) scale(5);
  opacity: 0.4;

  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.modalBackdrop {
  position: fixed;
  z-index: 9999;

  top: 0;
  left: 0;

  width: 100%;
  height: 100dvh;

  background: rgba(0, 0, 0, 0.5);
}

.modalPanel {
  position: fixed;
  z-index: 99999;

  top: 40%;
  left: 50%;

  transform: translate(-50%, -40%);

  width: 92%;
  max-width: 840px;
  height: fit-content;

  background-color: var(--body-background-color);

  border-radius: 1em;
}

.modalHeader {
  position: relative;

  padding: 1em;
  padding-top: 2em;
  padding-bottom: 1.5em;
}

.buttonClose {
  position: absolute;

  top: 1em;
  right: 1em;

  width: 2em;
  height: 2em;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0.5;

  transition: all 0.2s ease-in-out;

  cursor: pointer;
}

.buttonClose:focus-visible {
  outline: 1px solid black;
}

.modalContent {
  padding: 1em;
  padding-bottom: 2em;

  max-height: 65dvh;

  overflow-y: auto;
}

.modalFooterBorder {
  height: 40px;
}

.title {
  text-align: center;

  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);

  color: var(--text-focal-color);
}

.boxColor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  gap: 0.875em;
}

.itemColor {
  position: relative;

  background: var(--surface-color);
  box-shadow: var(--shadow-bottom);

  border-radius: 8px;

  padding: 0.5em;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  overflow: hidden;
}

.colorRibbon {
  position: absolute;

  top: -5%;
  right: -10%;

  width: 100%;
  height: 0.875em;

  box-shadow: var(--shadow-bottom);
  background: var(--surface-color);

  transform: rotate(35deg);
}

.colorCard {
  width: 100%;
  aspect-ratio: 16 / 9;

  border-radius: 4px;

  background: gray;
  border: 1px solid #808080;

  margin-bottom: 0.5em;
}

.colorName {
  font-size: var(--fs-sm);
  font-weight: var(--fw-semibold);
}

.colorNameBold {
  font-size: var(--fs-md);
  font-weight: var(--fw-black);
  color: var(--text-focal-color);
}

.colorCode {
  font-size: var(--fs-xs);
}

@media (hover: hover) {
  /* when supported */
  .colorGroupButton:hover .colorGroupButtonLabel {
    white-space: normal;

    transform: rotate(0deg) scale(1);
    opacity: 0.4;
  }

  .buttonClose:hover {
    opacity: 1;
  }
}

/* ================================================ */
/* Tablet Responsive */

@media only screen and (min-width: 768px) {
  .boxColor {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }

  .colorContainer {
    margin: 0 auto;
    margin-top: 4em;

    width: 100%;
    max-width: 980px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1.6em;
  }
}

/* ================================================ */
/* Desktop Responsive */

@media only screen and (min-width: 1024px) {
}
