.main {
  min-height: 100dvh;
}

.divider {
  margin-top: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowUp {
  width: var(--fs-3xl);
  height: var(--fs-3xl);
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.6em;

  margin-top: 1rem;

  padding-bottom: 1rem;
}

.mobileLineDivider {
  display: block;

  margin: 0 auto;
  margin-top: 6em;

  width: 100%;
  max-width: 240px;
  height: 1px;

  border-bottom: 8px dotted #d8d8d8;
}

@media (hover: hover) {
  /* when supported */
}

/* ================================================ */
/* Tablet Responsive */

@media only screen and (min-width: 768px) {
  .cardContainer {
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  }

  .divider {
    margin-top: 6rem;
  }

  .mobileLineDivider {
    display: none;
  }
}

/* ================================================ */
/* Desktop Responsive */

@media only screen and (min-width: 1024px) {
}
