@-webkit-keyframes bounce {
  0%,
  10%,
  20%,
  100% {
    -webkit-transform: translateY(0);
  }
  5% {
    -webkit-transform: translateY(-30px);
  }
  15% {
    -webkit-transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%,
  10%,
  20%,
  100% {
    -webkit-transform: translateY(0);
  }
  5% {
    -webkit-transform: translateY(-30px);
  }
  15% {
    -webkit-transform: translateY(-15px);
  }
}

.main {
  min-height: 100dvh;
}

.divider {
  margin-top: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowUp {
  width: var(--fs-3xl);
  height: var(--fs-3xl);

  -webkit-animation-duration: 5s;
  animation-duration: 5s;

  -webkit-animation-delay: 2s;
  animation-delay: 2s;

  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-name: bounce;
  animation-name: bounce;
}

.bar {
  position: sticky;
  top: 0;

  z-index: 100;

  background: var(--body-background-color);

  padding: 1em 0;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuWrapper {
  display: none;
}

.menuButton {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.5em 0.875em;
  gap: 0.5em;

  font-weight: var(--fw-medium);
  color: var(--text-common-color);

  cursor: pointer;
}

.menuButton:focus-visible {
  outline: 2px solid var(--text-common-color);
}

.mobileMenuButton {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.5em;

  aspect-ratio: 1 / 1;
  width: 40px;

  font-weight: var(--fw-medium);
  color: var(--text-common-color);

  cursor: pointer;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.6em;

  margin-top: 1rem;

  padding-bottom: 1rem;
}

.bottomBar {
  position: sticky;
  z-index: 99;
  bottom: 0;

  padding: 0 1.6em;

  display: block;

  margin-top: 7em;
  background: var(--body-background-color);

  height: 56px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mobileCollectionButton {
  transform: translateY(-1em);

  display: flex;
  align-items: center;
  gap: 0.5em;

  padding: 0.5em 1.5em;

  background: var(--text-focal-color);
  color: var(--surface-color);

  box-shadow: var(--shadow-top), var(--shadow-bottom);

  border-radius: 8px;
  border: 0.875em solid var(--body-background-color);

  cursor: pointer;
}

.mobileLineDivider {
  display: block;

  margin: 0 auto;
  margin-top: 6em;

  width: 100%;
  max-width: 240px;
  height: 1px;

  border-bottom: 8px dotted #d8d8d8;
}

.colorList {
  margin: 7em auto;
  padding: 1em 0;
}

.colorListHeading {
  text-align: center;

  font-size: var(--fs-xl);
  font-weight: var(--fw-bold);

  color: var(--text-focal-color);

  margin-bottom: 1em;
}

.colorListParagraph {
  text-wrap: balance;
  text-align: center;
}

.colorContainer {
  margin: 0 auto;
  margin-top: 4em;

  width: 90%;
  max-width: 864px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  gap: 0.5em;
}

.colorGroup {
  padding: 0.5em;

  aspect-ratio: 5 / 4;

  background: var(--surface-color);
  box-shadow: var(--shadow-bottom);

  border-radius: 1em;
}

.colorGroupButton {
  width: 100%;
  height: 100%;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 0.5em;

  overflow: hidden;

  cursor: pointer;
}

.colorGroupButton:focus-visible {
  outline: 2px solid black;
  outline-offset: 4px;
}

.colorGroupButtonLabel {
  padding: 0.5em;

  font-weight: var(--fw-black);
  font-size: var(--fs-md);

  white-space: nowrap;

  text-align: center;

  transform: rotate(-30deg) scale(5);
  opacity: 0.4;

  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media (hover: hover) {
  /* when supported */

  .menuButton:hover > span {
    text-decoration: underline;
  }

  .colorGroupButton:hover .colorGroupButtonLabel {
    white-space: normal;

    transform: rotate(0deg) scale(1);
    opacity: 0.4;
  }
}

/* ================================================ */
/* Tablet Responsive */

@media only screen and (min-width: 768px) {
  .cardContainer {
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  }

  .bottomBar {
    display: none;
  }

  .mobileLineDivider {
    display: none;
  }

  .menuWrapper {
    display: flex;
    align-items: center;

    gap: 1em;
  }

  .divider {
    margin-top: 6rem;
  }

  .colorContainer {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1em;
  }

  .colorGroup {
    aspect-ratio: 1 / 1;
  }
}

/* ================================================ */
/* Desktop Responsive */

@media only screen and (min-width: 1024px) {
}
