.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin-top: 4rem;
  padding: 0 1.6em;

  min-height: 100vh;
}

.main {
  .headline {
    font-size: var(--fs-3xl);
    font-weight: var(--fw-bold);

    text-align: center;
    text-wrap: balance;

    color: var(--text-focal-color);
  }

  .paragraph {
    margin-top: 1em;

    text-align: center;
    text-wrap: balance;
  }
}

@media (hover: hover) {
  /* when supported */
}

/* ================================================ */
/* Tablet Responsive */

@media only screen and (min-width: 768px) {
  .main {
    margin-top: 6rem;
  }
}

/* ================================================ */
/* Desktop Responsive */

@media only screen and (min-width: 1024px) {
}
