.footer {
  margin-top: 4rem;
}

.about {
  margin: 0 auto;
  margin-bottom: 6rem;

  display: flex;
  flex-direction: column;
  gap: 1em;

  max-width: 980px;
}

.aboutTitle {
  text-align: center;

  font-size: var(--fs-xl);
  font-weight: var(--fw-bold);

  color: var(--text-focal-color);
}

.aboutParagraph {
  text-wrap: balance;
  text-align: center;
}

.divider {
  margin: 6em auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowUp {
  width: var(--fs-3xl);
  height: var(--fs-3xl);
}

.copyright {
  min-height: 70px;

  padding: 2em;

  color: var(--surface-color);
  background-color: var(--text-focal-color);
  box-shadow: var(--shadow-top);
}

.footerbar {
  margin: 0 auto;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  gap: 1em;
}

.footerlink {
  font-size: var(--fs-sm);
  font-weight: var(--fw-semibold);
}

.copyrightText {
  color: var(--body-background-color);

  font-size: var(--fs-sm);

  display: flex;
  align-items: center;
  gap: 0.3em;
}

.copyrightLink {
  font-weight: var(--fw-semibold);
  color: var(--surface-color);
}

@media (hover: hover) {
  /* when supported */
}

/* ================================================ */
/* Tablet Responsive */

@media only screen and (min-width: 768px) {
  .divider {
    margin: 8em auto;
  }

  .footerbar {
    max-width: 720px;
    flex-direction: row;
  }
}

/* ================================================ */
/* Desktop Responsive */

@media only screen and (min-width: 1024px) {
  .copyright {
    padding: 1.7em;
  }

  .footerbar {
    max-width: 1280px;
  }
}
