@keyframes sparkling-animation {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0.8;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.card {
  border-radius: 16px;

  background: var(--surface-color);
  box-shadow: var(--shadow-bottom);
}

.cardDisplay {
  overflow: hidden;

  position: relative;

  border-top-right-radius: 16px;
  border-top-left-radius: 16px;

  width: 100%;

  aspect-ratio: 16 / 9;

  border-bottom: 1px solid rgb(194, 194, 194);
}

.topleftFloat {
  position: absolute;

  top: 0.875em;
  left: 0.875em;
}

.swapButton {
  padding: 0.5em;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;

  background: var(--surface-color);
  color: var(--text-mute-color);

  font-size: var(--fs-lg);

  box-shadow: var(--shadow-top), var(--shadow-bottom);

  border-radius: 8px;
}

.swapButton:focus-visible {
  outline: 2px solid var(--text-common-color);
}

.swapButtonActive {
  background: var(--text-focal-color);
  color: var(--surface-color);
}

.indicator {
  position: absolute;

  left: 0;
  bottom: 0;
}

.slideButton {
  position: absolute;

  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.3em;

  height: 32px;

  border-top-left-radius: 8px;

  background: var(--surface-color);
  box-shadow: var(--shadow-top);
}

.cardPairColor {
  --first-color: transparent;
  --second-color: transparent;

  aspect-ratio: 16 / 9;

  background: linear-gradient(
    45deg,
    var(--first-color) 55%,
    var(--second-color) 55%
  );
}

.cardPairPreview {
  display: flex;
  justify-content: center;
  align-items: center;

  aspect-ratio: 16 / 9;

  background: var(--background-color);
}

.cardPatternZigzag {
  --first-color: transparent;
  --second-color: transparent;

  --size: 48px;

  aspect-ratio: 16 / 9;

  background-color: var(--second-color);
  background-image: linear-gradient(
      135deg,
      var(--first-color) 25%,
      transparent 25%
    ),
    linear-gradient(225deg, var(--first-color) 25%, transparent 25%),
    linear-gradient(45deg, var(--first-color) 25%, transparent 25%),
    linear-gradient(315deg, var(--first-color) 25%, var(--second-color) 25%);
  background-position:
    calc(var(--size) / 2) 0,
    calc(var(--size) / 2) 0,
    0 0,
    0 0;
  background-size: var(--size) var(--size);
  background-repeat: repeat;
}

.cardPatternCircledot {
  --first-color: transparent;
  --second-color: transparent;

  --size: 48px;

  aspect-ratio: 16 / 9;

  background: radial-gradient(
      circle at top right,
      transparent 10%,
      var(--first-color) 10%,
      var(--first-color) 20%,
      transparent 21%
    ),
    radial-gradient(
      circle at left bottom,
      transparent 10%,
      var(--first-color) 10%,
      var(--first-color) 20%,
      transparent 21%
    ),
    radial-gradient(
      circle at top left,
      transparent 10%,
      var(--first-color) 10%,
      var(--first-color) 20%,
      transparent 21%
    ),
    radial-gradient(
      circle at right bottom,
      transparent 10%,
      var(--first-color) 10%,
      var(--first-color) 20%,
      transparent 21%
    ),
    radial-gradient(circle at center, var(--first-color) 30%, transparent 31%);
  background-size: var(--size) var(--size);
  background-color: var(--second-color);
  opacity: 1;
}

.cardPatternWindmill {
  --first-color: transparent;
  --second-color: transparent;

  --s: 72px; /* control the size */
  --c1: var(--second-color);
  --c2: var(--first-color);

  aspect-ratio: 16 / 9;

  --_g: var(--c1) 90deg, var(--c2) 0 135deg, #0000 0;
  background: conic-gradient(
      from -45deg at calc(100% / 3) calc(100% / 3),
      var(--c1) 90deg,
      #0000 0
    ),
    conic-gradient(from -135deg at calc(100% / 3) calc(2 * 100% / 3), var(--_g)),
    conic-gradient(
      from 135deg at calc(2 * 100% / 3) calc(2 * 100% / 3),
      var(--_g)
    ),
    conic-gradient(
      from 45deg at calc(2 * 100% / 3) calc(100% / 3),
      var(--_g),
      var(--c1) 0 225deg,
      var(--c2) 0
    );
  background-size: var(--s) var(--s);
}

.cardPatternCircleWave {
  --first-color: transparent;
  --second-color: transparent;

  --size: 48px;

  aspect-ratio: 16 / 9;

  background: radial-gradient(
    circle at bottom,
    var(--first-color),
    var(--first-color) 10%,
    transparent 10%,
    transparent 20%,
    var(--first-color) 20%,
    var(--first-color) 30%,
    transparent 30%,
    transparent 40%,
    var(--first-color) 40%,
    var(--first-color) 50%,
    transparent 50%,
    transparent 60%,
    var(--first-color) 60%,
    var(--first-color) 70%,
    transparent 70%,
    transparent 80%,
    var(--first-color) 80%,
    var(--first-color) 90%,
    transparent 90%
  );
  background-size: var(--size) var(--size);
  background-color: var(--second-color);
  opacity: 1;
}

.cardLinearGradient {
  --first-color: transparent;
  --second-color: transparent;

  aspect-ratio: 16 / 9;

  background: linear-gradient(45deg, var(--first-color), var(--second-color));
}

.cardRadialGradient {
  --first-color: transparent;
  --second-color: transparent;

  aspect-ratio: 16 / 9;

  background: repeating-radial-gradient(
    circle at 100%,
    var(--first-color),
    var(--second-color) 20%
  );
}

.cardLinearGradientRepeat {
  --first-color: transparent;
  --second-color: transparent;

  aspect-ratio: 16 / 9;

  background: repeating-linear-gradient(
    -45deg,
    var(--first-color),
    var(--second-color) 33%
  );
}

.cardConicGradient {
  --first-color: transparent;
  --second-color: transparent;

  aspect-ratio: 16 / 9;

  background: repeating-conic-gradient(
    from 45deg at 30% 50%,
    var(--first-color),
    var(--second-color) 20%
  );
}

.cardTypoColor {
  --first-color: transparent;
  --second-color: transparent;

  aspect-ratio: 16 / 9;

  display: flex;
  flex-direction: column;

  position: relative;
}

.cardTypoColorMain,
.cardTypoColorAccent {
  flex-grow: 1;

  padding: 1em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardTypoColorMain {
  color: var(--second-color);
  background: var(--first-color);
}

.cardTypoColorAccent {
  color: var(--first-color);
  background: var(--second-color);
}

.cardTypoText,
.cardTypoTextBold {
  font-size: var(--fs-lg);

  line-height: 1.4;
}

.cardTypoTextBold {
  font-weight: var(--fw-bold);
}

.sparklingAnimation {
  animation-name: sparkling-animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.cardInfo {
  padding: 1.6em 1em;
}

.cardButtonWrap {
  display: flex;
  justify-content: center;

  gap: 1em;
}

.buttonWrap {
  position: relative;
  width: 100%;
}

.menuButton {
  width: 100%;
  padding: 0.5em 0.875em;
  border-radius: 8px;

  border: 1px solid gray;

  font-size: var(--fs-md);
  font-weight: var(--fw-medium);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;

  cursor: pointer;
}

.menuButton:focus-visible {
  outline: 2px solid var(--text-common-color);
}

.menuButton:disabled {
  cursor: wait;
}

.menuItems {
  position: absolute;

  width: 100%;
  border-radius: 8px;

  margin-top: 1em;
  z-index: 99;

  background: var(--surface-color);
  box-shadow: var(--shadow-top);

  display: flex;
  flex-direction: column;
}

.menuCopyButton {
  font-size: var(--fs-md);

  padding: 0.5em 0.875em;

  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 0.5em;
}

.menuCopyButtonActive {
  border-radius: 8px;
  background: var(--text-common-color);
  color: var(--surface-color);
}

.colorIcon {
  --color: transparent;

  display: block;

  width: var(--fs-md);
  height: var(--fs-md);

  border-radius: 50% / 50%;
  border: 1px solid var(--text-common-color);

  background: var(--color);
}

@media (hover: hover) {
  /* when supported */
}

/* ================================================ */
/* Tablet Responsive */

@media only screen and (min-width: 768px) {
  .menuButton {
    font-size: var(--fs-sm);
  }

  .cardTypoText,
  .cardTypoTextBold {
    font-size: var(--fs-md);
  }

  .swapButton {
    font-size: var(--fs-md);
  }
}

/* ================================================ */
/* Desktop Responsive */

@media only screen and (min-width: 1024px) {
  .menuCopyButton {
    font-size: var(--fs-sm);
  }
}
