@keyframes animate-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.customize {
  border: 2px dashed var(--text-common-color);
  border-radius: 16px;

  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 6rem;
  padding: 1.6em 1em;

  max-width: 960px;

  .headingCustomize {
    font-size: var(--fs-lg);
    font-weight: var(--fw-bold);

    display: flex;
    align-items: center;
    gap: 0.4em;
  }

  .paragraph {
    margin-top: 0;
    text-align: left;
    font-size: var(--fs-md);
  }
}

.form {
  margin-top: 1em;

  display: flex;
  flex-direction: column;
  gap: 1em;

  .groupSelect {
    display: flex;
    flex-direction: column;

    gap: inherit;
  }
}

.buttonWrapper {
  padding-top: 1em;
}

.rotateAnimation {
  animation-name: animate-rotate;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@media (hover: hover) {
  /* when supported */
}

/* ================================================ */
/* Tablet Responsive */

@media only screen and (min-width: 768px) {
}

/* ================================================ */
/* Desktop Responsive */

@media only screen and (min-width: 1024px) {
  .form {
    .groupSelect {
      flex-direction: row;
    }
  }
}
