.cardPatternZigzag {
  --first-color: transparent;
  --second-color: transparent;

  --size: 48px;

  aspect-ratio: 16 / 9;

  background-color: var(--first-color);
  background-image: linear-gradient(
      135deg,
      var(--second-color) 25%,
      transparent 25%
    ),
    linear-gradient(-135deg, var(--second-color) 25%, transparent 25%),
    conic-gradient(
      from 0.5turn at 50% 50%,
      var(--second-color) 45deg,
      transparent 45deg,
      transparent 315deg,
      var(--second-color) 315deg
    );

  background-size: var(--size) var(--size);
}

.cardPatternWire {
  --first-color: transparent;
  --second-color: transparent;

  --size: 64px;

  aspect-ratio: 16 / 9;

  background-color: var(--first-color);

  background-image: radial-gradient(
      circle,
      var(--second-color) 20%,
      transparent 20%
    ),
    radial-gradient(circle at 0% 100%, var(--second-color) 15%, transparent 15%),
    radial-gradient(circle at 100% 0%, var(--second-color) 15%, transparent 15%),
    radial-gradient(circle at 0% 0%, var(--second-color) 15%, transparent 15%),
    radial-gradient(
      circle at 100% 100%,
      var(--second-color) 15%,
      transparent 15%
    ),
    linear-gradient(
      45deg,
      transparent 45%,
      var(--second-color) 45%,
      var(--second-color) 55%,
      transparent 55%
    ),
    linear-gradient(
      -45deg,
      transparent 45%,
      var(--second-color) 45%,
      var(--second-color) 55%,
      transparent 55%
    );

  background-size: var(--size) var(--size);
  background-position: calc(var(--size) / -2) calc(var(--size) / -2);
}

.cardPatternBubbleCandy {
  --first-color: transparent;
  --second-color: transparent;

  --size: 64px;

  aspect-ratio: 16 / 9;

  background-color: var(--first-color);

  background-image: radial-gradient(
      circle at 100% 0%,
      transparent 10%,
      var(--second-color) 10%,
      var(--second-color) 25%,
      transparent 25%
    ),
    radial-gradient(
      circle at 0% 0%,
      transparent 20%,
      var(--second-color) 20%,
      var(--second-color) 25%,
      transparent 25%
    ),
    radial-gradient(
      circle at 100% 100%,
      transparent 20%,
      var(--second-color) 20%,
      var(--second-color) 25%,
      transparent 25%
    ),
    radial-gradient(
      circle at 0% 100%,
      transparent 10%,
      var(--second-color) 10%,
      var(--second-color) 25%,
      transparent 25%
    ),
    radial-gradient(circle, var(--second-color) 15%, transparent 15%);

  background-size: var(--size) var(--size);
  background-position: calc(var(--size) / -2) calc(var(--size) / -2);
}

.cardPatternCircleWave {
  --first-color: transparent;
  --second-color: transparent;

  --size: 64px;

  aspect-ratio: 16 / 9;

  background-color: var(--first-color);
  background-image: radial-gradient(
      circle at 100% 100%,
      transparent,
      transparent 10%,
      var(--second-color) 10%,
      var(--second-color) 20%,
      transparent 20%
    ),
    radial-gradient(
      circle at 0% 0%,
      transparent,
      transparent 10%,
      var(--second-color) 10%,
      var(--second-color) 20%,
      transparent 20%
    ),
    radial-gradient(
      circle at 0% 100%,
      transparent,
      transparent 10%,
      var(--second-color) 10%,
      var(--second-color) 20%,
      transparent 20%,
      transparent 30%,
      var(--second-color) 30%,
      var(--second-color) 40%,
      transparent 40%
    ),
    radial-gradient(
      circle at 100% 0%,
      transparent,
      transparent 10%,
      var(--second-color) 10%,
      var(--second-color) 20%,
      transparent 20%,
      transparent 30%,
      var(--second-color) 30%,
      var(--second-color) 40%,
      transparent 40%
    );
  background-size: var(--size) var(--size);
}

@media (hover: hover) {
  /* when supported */
}

/* ================================================ */
/* Tablet Responsive */

@media only screen and (min-width: 768px) {
}

/* ================================================ */
/* Desktop Responsive */

@media only screen and (min-width: 1024px) {
}
