.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2em;
  height: 2em;

  background-color: var(--surface-color);
  color: var(--text-common-color);

  opacity: 0.5;

  cursor: pointer;

  font-size: var(--fs-md);
}

.button:focus-visible {
  outline-offset: 2px;
  outline: 2px solid black;
}

@media (hover: hover) {
  /* when supported */

  .button:hover {
    opacity: 1;
  }
}

/* ================================================ */
/* Tablet Responsive */

@media only screen and (min-width: 768px) {
}

/* ================================================ */
/* Desktop Responsive */

@media only screen and (min-width: 1024px) {
  .button {
    font-size: var(--fs-xs);
  }
}
