.cardPairColor {
  --first-color: transparent;
  --second-color: transparent;

  aspect-ratio: 16 / 9;

  background: linear-gradient(
    45deg,
    var(--first-color) 55%,
    var(--second-color) 55%
  );
}

@media (hover: hover) {
  /* when supported */
}

/* ================================================ */
/* Tablet Responsive */

@media only screen and (min-width: 768px) {
}

/* ================================================ */
/* Desktop Responsive */

@media only screen and (min-width: 1024px) {
}
