.ratioBadge {
  position: absolute;

  display: flex;
  align-items: center;

  gap: 0.2em;

  top: 0;
  left: 0;

  min-width: 60px;
  min-height: 32px;

  padding: 0.5em 0.875em;
  padding-top: 0.6em;

  border-bottom-right-radius: 8px;

  box-shadow: var(--shadow-bottom);

  border-right: 1px dotted var(--text-mute-color);
  border-bottom: 1px dotted var(--text-mute-color);
}

.badgeText {
  font-size: var(--fs-sm);
  font-weight: var(--fw-semibold);
}

.icon {
  margin-top: -2px;
  font-size: var(--fs-sm);
}

.success {
  background: var(--success-color);
  color: var(--success-text-color);
}

.warning {
  background: var(--warning-color);
  color: var(--warning-text-color);
}

.danger {
  background: var(--danger-color);
  color: var(--danger-text-color);
}

@media (hover: hover) {
  /* when supported */
}

/* ================================================ */
/* Tablet Responsive */

@media only screen and (min-width: 768px) {
  .badgeText {
    font-size: var(--fs-xs);
  }
}

/* ================================================ */
/* Desktop Responsive */

@media only screen and (min-width: 1024px) {
}
