.buttonWrap {
  position: relative;
  width: 100%;
}

.menuButton {
  width: 100%;
  padding: 0.5em 0.875em;
  border-radius: 8px;

  border: 1px solid gray;

  font-size: var(--fs-md);
  font-weight: var(--fw-medium);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;

  cursor: pointer;
}

.menuButton:focus-visible {
  outline: 2px solid var(--text-common-color);
}

.menuButton:disabled {
  cursor: wait;
}

.menuItems {
  position: absolute;

  width: 100%;
  border-radius: 8px;

  margin-top: 1em;
  z-index: 99;

  background: var(--surface-color);
  box-shadow: var(--shadow-top);

  display: flex;
  flex-direction: column;
}

.menuCopyButton {
  font-size: var(--fs-md);

  padding: 0.5em 0.875em;

  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 0.5em;
}

.menuCopyButtonActive {
  border-radius: 8px;
  background: var(--text-common-color);
  color: var(--surface-color);
}

@media (hover: hover) {
  /* when supported */
}

/* ================================================ */
/* Tablet Responsive */

@media only screen and (min-width: 768px) {
  .menuButton {
    font-size: var(--fs-sm);
  }
}

/* ================================================ */
/* Desktop Responsive */

@media only screen and (min-width: 1024px) {
  .menuCopyButton {
    font-size: var(--fs-sm);
  }
}
