.cardPairPreview {
  display: flex;
  justify-content: center;
  align-items: center;

  aspect-ratio: 16 / 9;

  background: var(--background-color);
}

@media (hover: hover) {
  /* when supported */
}

/* ================================================ */
/* Tablet Responsive */

@media only screen and (min-width: 768px) {
}

/* ================================================ */
/* Desktop Responsive */

@media only screen and (min-width: 1024px) {
}
