.cookieConsent {
  position: fixed;
  z-index: 999;

  bottom: 1em;
  left: 50%;

  width: 94%;
  max-width: 578px;

  padding: 1em;

  transform: translateX(-50%);

  background: rgba(0, 0, 0, 0.8);
  box-shadow: var(--shadow-top);
  backdrop-filter: blur(5px);

  border-radius: 8px;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;

  gap: 1em;
}

.text {
  color: var(--surface-color);

  text-wrap: balance;
}

.link {
  font-weight: var(--fw-semibold);
}

.link:focus-visible {
  outline: 1px dashed white;
  outline-offset: 2px;
}

.button {
  white-space: nowrap;
  line-height: unset;

  padding: 0.5em 0.875em;
  border-radius: 8px;

  background: var(--surface-color);
  color: var(--text-focal-color);
  box-shadow: var(--shadow-bottom);

  font-weight: var(--fw-semibold);
  cursor: pointer;
}

.button:focus-visible {
  outline: 2px dashed white;
  outline-offset: 3px;
}

@media (hover: hover) {
  /* when supported */
  .link:hover {
    text-decoration: underline;
  }
}

/* ================================================ */
/* Tablet Responsive */

@media only screen and (min-width: 768px) {
  .wrapper {
    font-size: var(--fs-sm);
  }
}

/* ================================================ */
/* Desktop Responsive */

@media only screen and (min-width: 1024px) {
}
